
.vs/DigiSign_Realm/v16/.suo
IOTApps/UWP/DigiSign_Realm/bin
IOTApps/UWP/DigiSign_Realm/obj
IOTApps/UWP/DigiSign_Realm/Resources.resw
IOTApps/UWP/DigiSign_Realm/AppPackages
IOTApps/UWP/DigiSign_Realm/BundleArtifacts
DigisignAdminSite/bin
DigisignAdminSite/.vs
DigisignAdminSite/obj
