
.vs/DigiSign_Realm/v16/.suo
IOTApps/UWP/DigiSign_Realm/bin
IOTApps/UWP/DigiSign_Realm/obj
IOTApps/UWP/DigiSign_Realm/Resources.resw
IOTApps/UWP/DigiSign_Realm/AppPackages
IOTApps/UWP/DigiSign_Realm/BundleArtifacts
DigisignAdminSite/bin
DigisignAdminSite/.vs
DigisignAdminSite/obj
IOTApps/Android/DigiSign/DigiSign/bin
IOTApps/Android/DigiSign/DigiSign/obj
IOTApps/Android/DigiSign/DigiSign/DigiSign.Android/bin
IOTApps/Android/DigiSign/DigiSign/DigiSign.Android/obj
IOTApps/Android/DigiSign/DigiSign/DigiSign/bin
IOTApps/Android/DigiSign/DigiSign/DigiSign/obj
IOTApps/Android/DigiSign/DigiSign/DigiSign/ResourceAP.resx
IOTApps/Android/DigiSign/.vs