@page "/Home"

<div class="ctr_centered_parent" style="background-color: #fff !important;">
    <div class="ctr_centered_child">
        <h1>Welcome</h1>
        <h1>Choose a page to edit</h1>
        <img src="assets/Splash.png" height="300" class="invert loadingAnni" /><br />
    </div>
</div>
